<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechLearn Academy</title>
</head>
<body>
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}">Login</a>&emsp;
    <a href="{%url 'register'%}">Register</a>
    <hr>
    {%else %}
    You are logged in as: {{ user }}
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
    <hr>
    <nav>
        <a href="/">Home</a>
        <a href="/academy/courses/">Courses</a>
        <a href="/academy/trainers/">Trainers</a>
        <a href="/academy/students/">Students</a>
        
    </nav>

    {% block content %}
        <h2>Dashboard</h2>

        <p>Total Courses: {{ courses }}</p>
        <p>Total Trainers: {{ trainers }}</p>
        <p>Total Students: {{ students }}</p>
    {% endblock %}
</body>
</html>